.header {
    background-color: #ffffff;
    display: block;
    overflow: hidden;
    transition: all 0.3s;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: #333333;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.container{
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.top-link{
    height: 20px;
    
}
.top-link li a {
    text-decoration: none;
    color: #555555;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    padding: 0 5px;
    border-left: 1px solid #dbdbdb;
}
.top-link li {
    float: left;
    line-height: 31px;
}
.top-link ul {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
}

.Icon{
    float: right;
    
}

.main-link .nav li {
    float: left;
    position: relative;
    padding: 0 15px;
    list-style: none;
    
}
.main-link{
    display: block;
    background: linear-gradient(#ff0000, #ca0000);
    height: 50px;
    margin-top: 5px;
}
.main-link .logo {
    margin-top: 9px;
}
*{
    box-sizing: border-box;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.main-link .nav {
    margin-top: 14px;
}


.main-link .nav li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff!important;
    padding: 5px 0;
    font-size: 16px;
    position: relative;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.search-site {
    display: block;
    float: right;
    margin-top: 12px;
    width: 200px;
}
.search-site .input-container input {
    border: none;
    border-radius: 2px;
    padding: 5px 27px 5px 10px;
    width: 200px;
    line-height: 1.2;
}
.search-site .input-container button {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 7px;
    top: 4px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.search-site .input-container button i {
    color: #ff0000;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
}
.social-links  {
    float: right;
    margin-right: 20px;
    margin-top: 12px;
}

.social-links a{
    display: inline-block;
    margin-left: 4px;
    width: 28px;
    height: 28px;
    line-height: 24px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #c00000;
    border-radius: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.slide-wrapper {
    margin-top: 18px;
    display: block;
    overflow: hidden;
}
.slides-nav, .slides-nav-middle {
    z-index: 21;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.slides-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 200;
}
.slides-button a:link, .slides-button a {
    color: #fff;
}
.slide-btn {
    padding: 0 13px;
    padding-left: 50px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    background-image: none;
    cursor: pointer;
    background-color: #f44336;
    color: #FFF;
    display: block;
    text-align: left;
    
    white-space: nowrap;
    text-transform: none;
    font-size: 16px;
    line-height: 43px;
    position: relative;
    height: 43px;
    margin-bottom: 7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.product-category-title {
    background: linear-gradient(#ff0000, #ca0000);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 31px;
    line-height: 31px;
    padding-left: 15px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
.product-category-menu li {
    background-color: #f0f0f0;
    font-size: 14px;
    position: relative;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #fbfbfb;
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
}
.product-category-menu li a {
    font-size: 15px;
    font-weight: 500;
    color: #555555;
    /*display: block;*/
    height: 31px;
    line-height: 31px;
    padding: 0 10px 0 15px;
}
.product-category-menu {
    margin: 0;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    padding: 0;
    list-style-type: none;
    position: relative;
}
ul li{
    list-style: none;
}
a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
span.line {
    display: block;
    height: 3px;
    background: #ffc300;
    overflow: hidden;
}
.product-list-title {
    color: #ff0000;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px 20px;
}
.product-list-title a {
    float: right;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    /* display: none; */
    float: left;
    height: 100%;
    min-height: 1px;
}
.wrap {
    border: 1px solid #d7d7d7;
    border-radius: 2px;
    position: relative;
    padding: 12px 10px;
    height: 294px;
    margin-bottom: 10px;
}
.brand {
    overflow: hidden;
    margin-bottom: 8px;
}
.brand a {
    display: block;
    height: 15px;
    line-height: 0;
}img {
    vertical-align: middle;
}.product-list .image {
    text-align: center;
    height: 140px;
    overflow: hidden;
}.product-list h5, .product-list-view h5 {
    display: block;
    font-size: 14px;
    text-align: center;
    margin: 5px 0 0;
    padding: 0;
    height: 36px;
    overflow-y: hidden;
    font-weight: normal;
}.product-list h5 a, .product-list-view h5 a {
    color: #555;
    line-height: normal;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    text-shadow: 0 1px 0 #fff;
}
.product-list .price-current, .product-list-view .price-current {
    float: right;
    margin-right: 10px;
}
.price-current {
    display: block;
    color: #ff0000;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
}
.product-list .product-prices, .product-list-view .product-prices {
    overflow: hidden;
}.product-list .product-bottom, .product-list-view .product-bottom {
    overflow: hidden;
    border-top: 1px dotted #555;
    padding-top: 9px;
}
.product-list .button-red, .product-list-view .button-red {
    float: right;
}.product-list .button {
    padding: 2px 4px;
    display: block;
}.button-red {
    background: linear-gradient(#ff0000, #b60404);
}.button {
    display: inline-block;
    line-height: 18px;
    padding: 2px 10px;
    border-radius: 3px;
    color: #fff!important;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}



footer {
    font-size: 13px;
    border-top: 1px solid #d5d5d5;
}
.footer-top {
    background-color: #f2f2f2;
}.footer-top .col {
    border-right: 1px solid #d5d5d5;
    height: 210px;
}
.footer-top h2 {
    color: #818181;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    margin: 25px 35px 4px 35px;
    text-transform: uppercase;
}
h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 20px;
}
.footer-top h2 a {
    color: #555;
}
.footer-top ul {
    margin: 0 35px 30px 35px;
    padding: 0;
    list-style-type: none;
}
.footer-top li {
    margin: 2px 0;
}
.footer-top li a {
        color: #818181;
}
.trow {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    float: right;
}
.control-label{
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
}
.form-control {
    border-radius: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.col-md-8{
    position:relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    
}